<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-id-scan" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>IdScan</name>
    <js-module name="IdScan" src="www/IdScan.js">
        <clobbers target="IdScan" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="IdScan">
                <param name="android-package" value="cordova.plugin.idscan.IdScan" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera" android:required="true" />
            <uses-feature android:name="android.hardware.camera.autofocus" />
        </config-file>


        <source-file src="src/android/IdScan.java" target-dir="src/com/IdScan" />

    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="IdScan">
                <param name="ios-package" value="IdScan" />
            </feature>
        </config-file>
        <source-file src="src/ios/IdScan.m" />
    </platform>
</plugin>